<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Jenis Bahan Bakar :</td>
			<td>
				<select class="bs-select" name="bahan_bakar">
				<% for(var i=0;i<fields.bahan_bakar.length;i++){ %>
					<option value="<%=fields.bahan_bakar[i]%>"><%=fields.bahan_bakar[i]%></option>
				<% } %>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Tahun Produksi Mobil :</td>
			<td><input type="text" name="tahun_produksi"></td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga</td>
			<td><input class="best-product" type="text" id="oli_harga" name="kriteria_harga" onchange="totalOli()"> % (Harga oli berdasarkan tiap liter)</td>
		</tr>
		<tr>
			<td style="width:30%;">Viskositas</td>
			<td><input class="best-product" type="text" id="oli_viskositas" name="kriteria_viskositas" onchange="totalOli()"> % (Viskositas merupakan tingkat kekentalan dari oli)</td>
		</tr>
		<tr>
			<td style="width:30%;">Ketahanan</td>
			<td><input class="best-product" type="text" id="oli_ketahanan" name="kriteria_ketahanan" onchange="totalOli()"> % (Ketahanan pada produk oli adalah Full-Synthetic, Semi-Synthetic, dan juga mineral. Ketahanan ini merupakan ketahanan pemakaian dari oli tersebut)</td>
		</tr>
	</table>
</div>
