<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">DOT :</td>
			<td>
				<% for(var i=0;i<fields.DOT.length;i++){ %>
					<input type="checkbox" name="DOT[]" value="<%=fields.DOT[i]%>"> DOT <%=fields.DOT[i]%><br>
				<% } %>
			</td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga</td>
			<td><input class="best-product" type="text" id="minyak_rem_harga" name="kriteria_harga" onchange="totalMinyakRem()"> % (Harga minyak rem berdasarkan tiap liter)</td>
		</tr>
		<tr>
			<td style="width:30%;">Boiling Point</td>
			<td><input class="best-product" type="text" id="minyak_rem_boiling_point" name="kriteria_boiling_point" onchange="totalMinyakRem()"> % (titik didih menunjukkan suhu di mana cairan mendidih. Pada kondisi ini minyak rem akan mulai menguap sesuai dengan titik didihnya)</td>
		</tr>
		<tr>
			<td style="width:30%;">Wet Boiling Point</td>
			<td><input class="best-product" type="text" id="minyak_rem_wet_boiling_point" name="kriteria_wet_boiling_point" onchange="totalMinyakRem()"> % (titik didih minyak rem yang mengandung air sebanyak 3 % volume)</td>
		</tr>
	</table>
</div>