<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Jenis Bohlam :</td>
			<td>
				<select class="bs-select" id="jenis-bohlam-option" name="jenis_bohlam" onChange="extraByJenisBohlam(this)">
					<% for(var i=0;i<fields.jenis_bohlam.length;i++){ %>
						<option value="<%=fields.jenis_bohlam[i]%>"><%=fields.jenis_bohlam[i]%></option>
					<% } %>
				</select>
			</td>
		</tr>
		<tr id="ukuran-bohlam"><!-- hanya lampu depan -->
			<td style="width:30%;">Ukuran Bohlam :</td>
			<td>
				<select class="bs-select" id="ukuran-bohlam-option" name="ukuran_bohlam" onChange="extraByUkuranBohlam(this)">
					<% for(var i=0;i<fields.ukuran_bohlam.length;i++){ %>
						<option value="<%=fields.ukuran_bohlam[i]%>"><%=fields.ukuran_bohlam[i]%></option>
					<% } %>
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga/L</td>
			<td><input class="best-product" type="text" id="bohlam_harga" name="kriteria_harga" onchange="totalBohlam()"> % (Harga bohlam berdasarkan tiap pcs)</td>
		</tr>
		<tr>
			<td style="width:30%;">Voltase</td>
			<td><input class="best-product" type="text" id="bohlam_voltase" name="kriteria_voltase" onchange="totalBohlam()"> % (Besarnya sinar yang dapat dipancarkan oleh bohlam)</td>
		</tr>
		<tr id="daya-power">
			<td style="width:30%;">Daya/Power</td>
			<td><input class="best-product" type="text" id="bohlam_daya_power" name="kriteria_daya_power" onchange="totalBohlam()"> % (tegangan akan menghasilkan arus listrik)</td>
		</tr>
		<tr id="daya-power-dekat" style="display:none">
			<td style="width:30%;">Daya/Power Lampu Dekat</td>
			<td><input class="best-product" type="text" id="bohlam_daya_power_dekat" name="kriteria_daya_power_dekat" onchange="totalBohlam()"> % (laju energi yang dihantarkan atau kerja yang dilakukan )</td>
		</tr>
		<tr id="daya-power-jauh" style="display:none">
			<td style="width:30%;">Daya/Power Lampu Jauh</td>
			<td><input class="best-product" type="text" id="bohlam_daya_power_jauh" name="kriteria_daya_power_jauh" onchange="totalBohlam()"> % (laju energi yang dihantarkan atau kerja yang dilakukan untuk lampu dekat)</td>
		</tr>
		<tr id="pancaran-cahaya"><!-- hanya lampu depan -->
			<td style="width:30%;">Pancaran Cahaya</td>
			<td><input class="best-product" type="text" id="bohlam_pancaran_cahaya" name="kriteria_pancaran_cahaya" onchange="totalBohlam()"> % (laju energi yang dihantarkan atau kerja yang dilakukan untuk lampu jauh)</td>
		</tr>
	</table>
</div>