<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Warna cat :</td>
			<td>
				<% for(var i=0;i<fields.warna_cat.length;i++){ %>
				<input type="checkbox" name="warna_cat[]" value="<%=fields.warna_cat[i]%>"> <%= fields.warna_cat[i]%>&nbsp;
				<% } %>
			</td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga/L</td>
			<td><input class="best-product" type="text" id="cat_harga" name="kriteria_harga" onchange="totalCat()"> % (Harga cat berdasarkan tiap liter)</td>
		</tr>
		<tr>
			<td style="width:30%;">Daya Kilap</td>
			<td><input class="best-product" type="text" id="cat_daya_kilap" name="kriteria_daya_kilap" onchange="totalCat()"> % (daya kilap merupakan  tingkat kekilauan dari hasil cat tersebut)</td>
		</tr>
		<tr>
			<td style="width:30%;">Daya Tahan</td>
			<td><input class="best-product" type="text" id="cat_daya_tahan" name="kriteria_daya_tahan" onchange="totalCat()"> % (daya tahan cat ini merupakan ketahanan pemakaian cat tersebut)</td>
		</tr>
		<tr>
			<td style="width:30%;">Daya Kering</td>
			<td><input class="best-product" type="text" id="cat_daya_kering" name="kriteria_daya_kering" onchange="totalCat()"> % (daya kering merupakan lamanya waktu pengeringan cat)</td>
		</tr>
		<tr>
			<td style="width:30%;">Daya Sebar</td>
			<td><input class="best-product" type="text" id="cat_daya_sebar" name="kriteria_daya_sebar" onchange="totalCat()"> % (daya sebar teoritis merupakan luas permukaan yang dapat ditutupi oleh satu liter cat)</td>
		</tr>
	</table>
</div>