<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Kegelapan :</td>
			<td>
				<input type="checkbox" name="kegelapan[]" value="10-20"> 10-20
				<input type="checkbox" name="kegelapan[]" value="41-60"> 41-60<br>
				<input type="checkbox" name="kegelapan[]" value="21-40"> 21-40
				<input type="checkbox" name="kegelapan[]" value="61-80"> 61-80
			</td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga</td>
			<td><input class="best-product" type="text" id="kaca_film_harga" name="kriteria_harga" onchange="totalKacaFilm()"> % (Harga kaca film berdasarkan tiap meter persegi (m2))</td>
		</tr>
		<tr>
			<td style="width:30%;">VLT</td>
			<td><input class="best-product" type="text" id="kaca_film_VLT" name="kriteria_VLT" onchange="totalKacaFilm()"> % (persentase besarnya cahaya yang lewat melalui kaca film, semakin besar nilainya maka pandangan keluar semakin jelas)</td>
		</tr>
		<tr>
			<td style="width:30%;">UVR</td>
			<td><input class="best-product" type="text" id="kaca_film_UVR" name="kriteria_UVR" onchange="totalKacaFilm()"> % ( merupakan penandaan dari besarnya kaca film menolak sinar ultraviolet untuk masuk kedalam mobil )</td>
		</tr>
		<tr>
			<td style="width:30%;">IRR</td>
			<td><input class="best-product" type="text" id="kaca_film_IRR" name="kriteria_IRR" onchange="totalKacaFilm()"> % (persentase penolakan gelombang Infra Red dari total solar energy (panas))</td>
		</tr>
		<tr>
			<td style="width:30%;">TSER</td>
			<td><input class="best-product" type="text" id="kaca_film_TSER" name="kriteria_TSER" onchange="totalKacaFilm()"> % (persentase penolakan terhadap panas)</td>
		</tr>
	</table>
</div>