<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Tipe Aki :</td>
			<td>
				<select class="bs-select" name="tipe_aki">
					<% for(var i=0;i<fields.tipe_aki.length;i++){ %>
						<option value="<%=fields.tipe_aki[i]%>"><%= fields.tipe_aki[i]%></option>
					<% } %>
				</select>
			</td>
		</tr>
		<tr>
			<td style="width:30%;">Silinder Mesin(cc) :</td>
			<td>
				<% for(var i=0;i<fields.silinder_mesin.length;i++){ %>
					<input type="checkbox" name="silinder_mesin[]" value="<%=fields.silinder_mesin[i]%>"> <%= fields.silinder_mesin[i]%><br>
				<% } %>
			</td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga</td>
			<td><input class="best-product" type="text" id="aki_harga" name="kriteria_harga" onchange="totalAki()"> % (Harga cat berdasarkan tiap pcs)</td>
		</tr>
		<tr>
			<td style="width:30%;">Kapasitas</td>
			<td><input class="best-product" type="text" id="aki_kapasitas" name="kriteria_kapasitas" onchange="totalAki()"> % (kapasitas dapat diartikan sebagai besarnya energi listrik yang dapat diberikan oleh baterai saat baterai tersebut dalam kondisi terisi penuh)</td>
		</tr>
		<tr>
			<td style="width:30%;">Tegangan</td>
			<td><input class="best-product" type="text" id="aki_tegangan" name="kriteria_tegangan" onchange="totalAki()"> % (tegangan akan menghasilkan arus listrik )</td>
		</tr>
		<tr>
			<td style="width:30%;">CCA</td>
			<td><input class="best-product" type="text" id="aki_CCA" name="kriteria_CCA" onchange="totalAki()"> % (CCA berarti arus starter dingin. menyatakan kemampuan suatu baterai untuk mengeluarkan arus (dalam satuan Ampere) beban penuh)</td>
		</tr>
	</table>
</div>