<div class="container-box">
	<h4>Produk yang dipilih</h4>
	<table class="table content">
		<tr>
			<td style="width:30%;">Jenis Produk :</td>
			<td>
				<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="line-separator"></div>
<div class="container-box">
	<h4>Pilihan Kriteria</h4>
	<table class="table content">
		<tr>
			<td id="total"></td>
		</tr>
		<tr>
			<td style="width:30%;">Harga/L</td>
			<td><input class="best-product" type="text" id="cat_vernis_harga" name="kriteria_harga" onchange="totalCatVernis()"> % (Harga cat vernis berdasarkan tiap liter)</td>
		</tr>
		<tr>
			<td style="width:30%;">Daya Tahan & Kilap</td>
			<td><input class="best-product" type="text" id="cat_vernis_daya_tahan_kilap" name="kriteria_daya_tahan_kilap" onchange="totalCatVernis()"> % (daya kilap merupakan  tingkat kekilauan dari hasil cat tersebut dan daya tahan cat ini merupakan ketahanan pemakaian cat tersebut)</td>
		</tr>
		<tr>
			<td style="width:30%;">Daya Pengeringan</td>
			<td><input class="best-product" type="text" id="cat_vernis_pengeringan" name="kriteria_pengeringan" onchange="totalCatVernis()"> % (daya kering merupakan lamanya waktu pengeringan cat)</td>
		</tr>
	</table>
</div>