<div class="container-box">
	<h3>Daftar Harga Jasa Bengkel</h3>
	<div class="container-box">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2"></th>
					<th colspan="2">Mobil Standar</th>
					<th colspan="2">Mobil Mewah/Built Up</th>
				</tr>
				<tr>
					<th>No</th>
					<th>Jasa/Perbaikan</th>
					<th>Repair</th>
					<th>Genti</th>
					<th>Repair</th>
					<th>Ganti</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>All Body Ringan</td>
					<td>8.000.000</td>
					<td></td>
					<td>9.000.000</td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>All Body Berat</td>
					<td>10.000.000</td>
					<td></td>
					<td>12.000.000</td>
					<td></td>
				</tr>
				<tr>
					<td>3</td>
					<td>Afron depan/belakang</td>
					<td>500.000</td>
					<td>40.000</td>
					<td>600.000</td>
					<td>450.000</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Brecket/tulang bumper dpn/blk</td>
					<td>250.000</td>
					<td>200.000</td>
					<td>350.000</td>
					<td>275.000</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Bufle</td>
					<td>250.000</td>
					<td>200.000</td>
					<td>300.000</td>
					<td>250.000</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Panel Stop Lamp</td>
					<td>250.000</td>
					<td>200.000</td>
					<td>350.000</td>
					<td>275.000</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Bumper Depan/Belakang</td>
					<td>700.000</td>
					<td>600.000</td>
					<td>850.000</td>
					<td>700.000</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Chassis dpn/blk</td>
					<td>600.000</td>
					<td></td>
					<td>850.000</td>
					<td></td>
				</tr>
				<tr>
					<td>9</td>
					<td>Crosmember</td>
					<td>350.000</td>
					<td>225.000</td>
					<td>450.000</td>
					<td>300.000</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Dasboard</td>
					<td></td>
					<td>400.000</td>
					<td></td>
					<td>750.000</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Ext Bumper dpn/blk</td>
					<td>350.000</td>
					<td>250.000</td>
					<td>450.000</td>
					<td>350.000</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Fender Depan</td>
					<td>650.000</td>
					<td>550.000</td>
					<td>800.000</td>
					<td>650.000</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Pintu depan/belakang</td>
					<td>700.000</td>
					<td>600.000</td>
					<td>900.000</td>
					<td>700.000</td>
				</tr>
				<tr>
					<td>14</td>
					<td>Foot Stef</td>
					<td>325.000</td>
					<td>250.000</td>
					<td>500.000</td>
					<td>350.000</td>
				</tr>
				<tr>
					<td>15</td>
					<td>Spoiler Bumper dpn/blk</td>
					<td>300.000</td>
					<td>250.000</td>
					<td>550.000</td>
					<td>350.000</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Moulding Pintu/Fender</td>
					<td>275.000</td>
					<td>225.000</td>
					<td>350.000</td>
					<td>275.000</td>
				</tr>
				<tr>
					<td>17</td>
					<td>List Body</td>
					<td>200.000</td>
					<td>150.000</td>
					<td>275.000</td>
					<td>250.000</td>
				</tr>
				<tr>
					<td>18</td>
					<td>Tiang Lock Kap Motor</td>
					<td>125.000</td>
					<td>75.000</td>
					<td>250.000</td>
					<td>175.000</td>
				</tr>
				<tr>
					<td>19</td>
					<td>Kedok Depan</td>
					<td>750.000</td>
					<td>650.000</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>20</td>
					<td>Kap Motor</td>
					<td>750.000</td>
					<td>600.000</td>
					<td>900.000</td>
					<td>750.000</td>
				</tr>
				<tr>
					<td>21</td>
					<td>Panel Radiator</td>
					<td>300.000</td>
					<td>275.000</td>
					<td>425.000</td>
					<td>325.000</td>
				</tr>
				<tr>
					<td>22</td>
					<td>Bullhead</td>
					<td>275.000</td>
					<td>250.000</td>
					<td>400.000</td>
					<td>300.000</td>
				</tr>
				<tr>
					<td>23</td>
					<td>Panel Bagasi</td>
					<td>375.000</td>
					<td>300.000</td>
					<td>550.000</td>
					<td>400.000</td>
				</tr>
				<tr>
					<td>24</td>
					<td>Lantai Bagasi</td>
					<td>475.000</td>
					<td>425.000</td>
					<td>600.000</td>
					<td>500.000</td>
				</tr>
				<tr>
					<td>25</td>
					<td>Panel Cowl</td>
					<td>300.000</td>
					<td>275.000</td>
					<td>500.000</td>
					<td>400.000</td>
				</tr>
				<tr>
					<td>26</td>
					<td>Tutup Bensin</td>
					<td>250.000</td>
					<td>225.000</td>
					<td>375.000</td>
					<td>325.000</td>
				</tr>
				<tr>
					<td>27</td>
					<td>Handle Pintu</td>
					<td>250.000</td>
					<td>200.000</td>
					<td>375.000</td>
					<td>325.000</td>
				</tr>
				<tr>
					<td>28</td>
					<td>Grille</td>
					<td>300.000</td>
					<td>275.000</td>
					<td>425.000</td>
					<td>375.000</td>
				</tr>
				<tr>
					<td>29</td>
					<td>Bagasi/back door</td>
					<td>750.000</td>
					<td>650.000</td>
					<td>900.000</td>
					<td>750.000</td>
				</tr>
				<tr>
					<td>30</td>
					<td>Pipi</td>
					<td>350.000</td>
					<td>325.000</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>31</td>
					<td></td>
					<td>750.000</td>
					<td>850.000</td>
					<td>900.000</td>
					<td>1.000.000</td>
				</tr>
				<tr>
					<td>32</td>
					<td>Fender Belakang/Quarter Panel</td>
					<td>700.000</td>
					<td>650.000</td>
					<td>800.000</td>
					<td>900.000</td>
				</tr>
				<tr>
					<td>33</td>
					<td>Tiang kaca depan/belakang</td>
					<td>450.000</td>
					<td>425.000</td>
					<td>525.000</td>
					<td>450.000</td>
				</tr>
				<tr>
					<td>34</td>
					<td>Triplang</td>
					<td>400.000</td>
					<td>350.000</td>
					<td>550.000</td>
					<td>450.000</td>
				</tr>
				<tr>
					<td>35</td>
					<td>Spion</td>
					<td>275.000</td>
					<td>250.000</td>
					<td>375.000</td>
					<td>325.000</td>
				</tr>
				<tr>
					<td>36</td>
					<td>Cover Spion</td>
					<td>200.000</td>
					<td>175.000</td>
					<td>275.000</td>
					<td>225.000</td>
				</tr>
				<tr>
					<td>37</td>
					<td>Tiang Pintu dpn/blk</td>
					<td>450.000</td>
					<td>40.000</td>
					<td>500.000</td>
					<td>450.000</td>
				</tr>
				<tr>
					<td>38</td>
					<td>Lantai dpn/tgh</td>
					<td>400.000</td>
					<td>425.000</td>
					<td>500.000</td>
					<td>600.000</td>
				</tr>
				<tr>
					<td>39</td>
					<td>Panel Roof</td>
					<td>375.000</td>
					<td>350.000</td>
					<td>475.000</td>
					<td>425.000</td>
				</tr>
				<tr>
					<td>40</td>
					<td>Plafon</td>
					<td>300.000</td>
					<td>400.000</td>
					<td>500.000</td>
					<td>900.000</td>
				</tr>
				<tr>
					<td>41</td>
					<td>Cover Trisplang</td>
					<td>400.000</td>
					<td>350.000</td>
					<td>500.000</td>
					<td>400.000</td>
				</tr>
				<tr>
					<td>42</td>
					<td>Spoiler Bagasi</td>
					<td>350.000</td>
					<td>275.000</td>
					<td>450.000</td>
					<td>400.000</td>
				</tr>
				<tr>
					<td>43</td>
					<td>Kaca Depan</td>
					<td></td>
					<td>400.000</td>
					<td></td>
					<td>600.000</td>
				</tr>
				<tr>
					<td>44</td>
					<td>Sealer Kaca</td>
					<td></td>
					<td>175.000</td>
					<td></td>
					<td>175.000</td>
				</tr>
				<tr>
					<td>45</td>
					<td>Kaca Bagasi</td>
					<td></td>
					<td>250.000</td>
					<td></td>
					<td>400.000</td>
				</tr>
				<tr>
					<td>46</td>
					<td>Freon Ac</td>
					<td></td>
					<td>250.000</td>
					<td></td>
					<td>300.000</td>
				</tr>
				<tr>
					<td>47</td>
					<td>Poles All Body</td>
					<td></td>
					<td>450.000</td>
					<td></td>
					<td>650.000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>