<div class="row">
	<div class="col-md-12">
		<% if(typeof errors !== "undefined") { %>
		<div class="container text-danger">
			<ul>
				<% for(var i=0;i<errors.length;i++){%>
					<li><%= errors[i] %></li>
				<% } %>
			</ul>
		</div>
		<% } %>
		<form class="login-form" action="/update_password" method="post">
			<h3 class="form-title">Change password</h3>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Old password</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Old Password" name="old_password">
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">New Password</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password" name="new_password">
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Confirm New Password</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm New Password" name="confirm_password">
			</div>
			<div class="form-actions">
				<button type="submit">Change</button>
			</div>

			<div class="create-account">
				<a href = "/">Back to home</a>
			</div>
		</form>
	</div>
</div>