<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Tipe Produk</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Oli</td>
				<td><a href='/edit_fields/oli'><button>Link</button></a></td>
			</tr>
			<tr>
				<td>Cat</td>
				<td><a href='/edit_fields/cat'><button>Link</button></a></td>
			</tr>
			<tr>
				<td>Aki</td>
				<td><a href='/edit_fields/aki'><button>Link</button></a></td>
			</tr>
			<tr>
				<td>Minyak Rem</td>
				<td><a href='/edit_fields/minyak_rem'><button>Link</button></a></td>
			</tr>
			<tr>
				<td>Kaca Film</td>
				<td><a href='/edit_fields/kaca_film'><button>Link</button></a></td>
			</tr>
			<tr>
				<td>Cat Vernis</td>
				<td><a href='/edit_fields/cat_vernis'><button>Link</button></a></td>
			</tr>
			<tr>
				<td>Bohlam</td>
				<td><a href='/edit_fields/bohlam'><button>Link</button></a></td>
			</tr>
		</tbody>
	</table>
</div>