<!DOCTYPE html>
<!-- saved from url=(0044)http://getbootstrap.com/examples/dashboard/# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Penentuan Produk Terbaik</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/jquery-2.1.4.min.css"></script>
</head>

<body>
	<div class="content-wrapper container">	
		<div class="heading">
			<% if(typeof user === "undefined") { %>
				<a href="/signin">Sign In</a>
			<% } else {%>
				<p>Welcome, <%= user%> | <a href="/change_password">Change Password</a> | <a href="/logout">Log out</a></p>
			<% } %>
			<p><%= new Date();%></p>
		</div>
		<div class="menu-bar">
			<ul>
				<li><a href="/"><button>Home</button></a></li>
				<li><a href="/profile"><button>Profil Perusahaan</button></a></li>
				<li>
					<div class="dropdown" style="display:inline-block">
						<button class="dropdown-toggle" type="button" data-toggle="dropdown">Daftar Harga Jasa <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="/service_price_list">Jasa Servis Engine</a></li>
							<li><a href="/bengkel_price_list">Jasa Bengkel</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/help"><button>Help</button></a></li>
			</ul>
		</div>
		<div class="container-box">
			<h3>Edit Produk</h3>
			<% if(typeof errors !== "undefined") { %>
			<div class="container text-danger">
				<ul>
					<% for(var i=0;i<errors.length;i++){%>
						<li><%= errors[i] %></li>
					<% } %>
				</ul>
			</div>
			<% } %>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<form action="/update_item/<%=itemType%>/<%=itemId%>" method="post" id="save_form" enctype="multipart/form-data">
							<table class="table content">
								<%- body %>
							</table>
						</form>
					</div>
					<div class="col-md-3">
						<div class="menu-icon-wrapper icon-input">
							<a href="#"><img class="menu-icon" src='<%= doc.photo%>'></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8"><a href="/">Back to Home</a></div>
					<div class="col-md-3"><button id="save_data">Save</button></div>
				</div>
			</div>

		</div>
	</div>


	<script src="/javascripts/bundle.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/bohlam.js"></script>

</body>
</html>