<div class="container-box">
	<h3>Help</h3>
	<div class="container-box">
		<h4>I.	Cara Input Data Produk + Spesifikasi Produk (Untuk Administrasi harus login)</h4>
		<ul class="product-list" style="list-style-type: lower-alpha;">
			<li>
				<p>Produk Oli</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Oli</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Oli</li>
					<li>Nama Produk: Masukkan Nama produk Oli</li>
					<li>Jenis Bahan Bakar: Pilihlah Jenis Bahan Bakar Mobil Untuk Produk Oli Terkait</li>
					<li>API: Pilihlah kode API Produk Oli (API / American Petroleum Institute merupakan kode standar untuk menentukan karakteristik tertentu oli)</li>
					<li>Harga: Masukkan nilai harga produk oli</li>
					<li>Viskositas: Pilihlah nilai viskositas produk oli</li>
					<li>Ketahanan: Pilihlah ketahanan produk oli</li>
				</ul>
			</li>
			<li>
				<p>Produk Cat</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Cat</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Cat</li>
					<li>Nama Produk: Masukkan Nama produk Cat</li>
					<li>Produk Asal: Masukkan asal produk cat yang terkait</li>
					<li>Jenis Cat: Masukkan jenis cat yang terkait</li>
					<li>Warna Cat: Masukkan warna-warna cat yang terkait</li>
					<li>Harga: Masukkan nilai harga produk cat</li>
					<li>Daya Kilap: Pilihlah daya kilap dari produk cat</li>
					<li>Daya Tahan Cat: Pilihlah daya tahan cat dari produk cat</li>
					<li>Data Kering: Masukkan waktu daya kering dari produk cat</li>
					<li>Daya Sebar Teoritis: Masukkan nilai daya sebar teoritis dari produk cat</li>
				</ul>
			</li>
			<li>
				<p>Produk Aki</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Aki</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Aki</li>
					<li>Nama Produk: Masukkan Nama produk Aki</li>
					<li>Tipe Aki: Pilihlah tipe Aki yang terkait</li>
					<li>Silinder Mesin(cc): Pilihlah silinder mesin untuk produk aki yang terkait</li>
					<li>Harga: Masukkan nilai harga produk aki</li>
					<li>Kapasitas: masukkan nilai kapasitas dari produk aki (berhubungan dengan silinder mesin)</li>
					<li>Tegangan: Masukkan nilai tegangan dari produk aki</li>
					<li>CCA: Masukkan nilai Cold Ranking Ampere(CCA) dari produk aki</li>
				</ul>
			</li>
			<li>
				<p>Produk Minyak Rem</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Minyak Rem</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Minyak Rem</li>
					<li>Nama Produk: Masukkan Nama produk Minyak Rem</li>
					<li>Warna Cairan: masukkan warna cairan produk Minyak Rem (tidak harus diisi)</li>
					<li>Harga: Masukkan nilai harga produk Minyak Rem</li>
					<li>Department of Transportation (DOT): Pilihlah nilai DOT dari produk Minyak Rem</li>
					<li>Boiling Point : Masukkan nilai Boiling Point dari produk Minyak Rem</li>
					<li>Wet Boiling Point: Masukkan nilai Wet Boiling Point dari produk Minyak Rem</li>
				</ul>
			</li>
			<li>
				<p>Produk Kaca Film</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Kaca Film</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Kaca Film</li>
					<li>Nama Produk: Masukkan Nama produk Kaca Film</li>
					<li>Kegelapan: masukkan nilai kegelapan pada produk kaca Film</li> 
					<li>Tipe: masukkan tipe pada produk kaca film</li>
					<li>Basis Warna: masukkan basis warna pada produk kaca film</li>
					<li>Harga: Masukkan nilai harga produk Kaca Film</li>
					<li>Visible Light Transmittance (VLT): Masukkan nilai VLT dari produk Kaca Film</li>
					<li>Ultra Violet Rejected (UVR): Masukkan nilai UVR dari produk Kaca Film</li>
					<li>Infrared Rejected (IRR): Masukkan nilai IRR dari produk Kaca Film</li>
					<li>Total Solar Energy Rejected (TSER): Masukkan nilai TSER dari produk Kaca Film</li>
				</ul>
			</li>
			<li>
				<p>Produk Cat Vernis</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Cat Vernis</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Cat Vernis</li>
					<li>Nama Produk: Masukkan Nama produk Cat Vernis</li>
					<li>Produk Asal: masukkan Produk asal produk Cat Vernis</li>
					<li>Harga: Masukkan nilai harga produk Cat Vernis</li>
					<li>Daya Tahan & Kilap : Pilihlah nilai perbandingan daya tahan & kilap dari produk Cat Vernis</li>
					<li>Daya Pengeringan : Masukkan nilai Daya Pengeringan dari produk Cat Vernis</li>
				</ul>
			</li>
			<li>
				<p>Produk Bohlam</p>
				<p><b>•	Data Produk</b></p>
				<ul style="list-style-type: decimal;">
					<li>Kode Produk: Masukkan Kode Produk Bohlam</li>
					<li>Jenis Produk: Pilihlah Jenis Produk Bohlam</li>
					<li>Jenis Bohlam: Pilihlah Jenis Bohlam</li>
					<li>Nama Produk: Masukkan Nama produk Bohlam</li>
					<li>Ukuran Lampu: Pilihlah Ukuran Lampu Bohlam (Hanya Untuk Pilihan jenis bohlam lampu depan</li>
					<li>Warna Cahaya: Masukkan warna cahaya dari produk Bohlam</li>
					<li>Tipe Bohlam: PilihlahTipe Bohlam dari Produk Bohlam</li>
					<li>Harga: Masukkan nilai harga produk Bohlam</li>
					<li>Pancaran Cahaya : Masukkan nilai pancaran cahaya produk Bohlam</li>
					<li>Voltase : Masukkan nilai voltase produk Bohlam</li>
					<li>Daya/Power : Masukkan nilai daya/power produk Bohlam</li>
					<li>Daya/ Power Lampu Dekat: Masukkan nilai daya/power Lampu Dekat produk Bohlam (Hanya untuk jenis bohlam lampu depan dengan ukuran lampu H4)</li>
					<li>Daya/ Power Lampu Jauh: Masukkan nilai daya/power Lampu Jauh produk Bohlam (Hanya untuk jenis bohlam lampu depan dengan ukuran lampu H4)</li>
				</ul>
			</li>
		</ul>

		<h4>II.	Cara Input Data Produk + Spesifikasi Produk (Untuk Administrasi harus login)</h4>
		<ul class="product-list" style="list-style-type: lower-alpha;">
			<li>
				<p>Produk Oli</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Oli</li>
					<li>Jenis Bahan Bakar: Pilihlah Jenis Bahan Bakar Mobil</li> 
					<li>Tahun Produksi Mobil: Pilihlah Tahun Produksi Mobil</li>
					<li>Pilih Kriteria yang ingin digunakan</li>
					<li>Masukkan bobot untuk tiap kriteria yang digunakan (total harus 100%)</li>
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif terbaik</li>
				</ul>
			</li>
			<li>
				<p>Produk Cat</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Cat</li>
					<li>Warna Cat: Pilihlah warna-warna Cat yang diinginkan</li> 
					<li>Pilih Kriteria yang ingin digunakan</li>
					<li>Masukkan bobot untuk tiap kriteria yang digunakan  (total harus 100%)</li>
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif terbaik</li> 
				</ul>
			</li>
			<li>
				<p>Produk Aki</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Aki</li> 
					<li>Tipe Aki: Pilihlah Tipe Aki mobil yang diinginkan</li> 
					<li>Silinder Mesin: Pilihlah Silinder mesin (cc) mobil</li>  
					<li>Pilih Kriteria yang ingin digunakan</li> 
					<li>Masukkan bobot untuk tiap kriteria yang digunakan  (total harus 100%)</li> 
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif terbaik</li> 
				</ul> 
			</li>
			<li>
				<p>Produk Minyak Rem</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Minyak Rem</li> 
					<li>DOT: Pilihlah DOT pada produk minyak rem yang diinginkan</li> 
					<li>Pilih Kriteria yang ingin digunakan</li> 
					<li>Masukkan bobot untuk tiap kriteria yang digunakan  (total harus 100%)</li> 
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif terbaik</li> 
				</ul> 
			</li>
			<li>
				<p>Produk Kaca Film</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Kaca Film</li> 
					<li>Kegelapan: Pilihlah Tingkat Kegelapan dari Kaca Film yang diinginkan</li> 
					<li>Pilih Kriteria yang ingin digunakan</li> 
					<li>Masukkan bobot untuk tiap kriteria yang digunakan  (total harus 100%)</li> 
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif terbaik</li> 
				</ul>
			</li> 
			<li>
				<p>Produk Cat Vernis</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Cat Vernis</li> 
					<li>Pilih Kriteria yang ingin digunakan</li> 
					<li>Masukkan bobot untuk tiap kriteria yang digunakan  (total harus 100%)</li> 
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif</li> 
				</ul>
			</li>
			<li>
				<p>Produk Bohlam</p>
				<ul style="list-style-type: decimal;">
					<li>Jenis Produk: Pilihlah Jenis Produk Bohlam</li> 
					<li>Jenis Bohlam: Pilihlah Jenis Bohlam yang diinginkan</li> 
					<li>Ukuran Lampu: Pilihlan salah satu ukuran Lampu yang diinginkan</li> 
					<li>Pilih Kriteria yang ingin digunakan</li> 
					<li>Masukkan bobot untuk tiap kriteria yang digunakan  (total harus 100%)</li> 
					<li>Klik Tombol Proses untuk menampilkan hasil perhitungan alternatif</li> 
				</ul>
			</li>
		</div>
	</div>
</div>
