<% if(typeof user !== "undefined") { %>
<div class="container-box">
	<div class="row">
		<div class="col-md-2">
			<h1>Input</h1>
		</div>
		<div class="col-md-3">
			<div class="menu-icon-wrapper">
				<a href="/input_data"><img class="menu-icon" src="/images/input5.png"/></a>
			</div>
			<span class="menu-name">Data Produk</span>
		</div>
		<div class="col-md-3">
			<div class="menu-icon-wrapper">
				<a href="/edit_fields"><img class="menu-icon" src="/images/gears-2.png"/></a>
			</div>
			<span class="menu-name">Ganti Opsi</span>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<div class="line-separator"></div>
<% } %>
<div class="container-box">
	<div class="row">
		<div class="col-md-2">
			<h1>Output</h1>
		</div>
		<div class="col-md-3">
			<div class="menu-icon-wrapper">
				<a href="/determine_best_product"><img class="menu-icon" src="/images/search2.jpg"></a>
			</div>
			<span class="menu-name">Penentuan Produk Terbaik</span>
		</div>
		<div class="col-md-3">
			<div class="menu-icon-wrapper">
				<a href="list_products"><img class="menu-icon" src="/images/graph.jpg"></a>
			</div>
			<span class="menu-name">List Data Produk</span>
		</div>
	</div>
</div>