<!DOCTYPE html>
<!-- saved from url=(0044)http://getbootstrap.com/examples/dashboard/# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Penentuan Produk Terbaik</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/jquery-2.1.4.min.css"></script>
</head>

<body>
	<div class="content-wrapper container">	
		<div class="heading">
			<% if(typeof user === "undefined") { %>
				<a href="/signin">Sign In</a>
			<% } else {%>
				<p>Welcome, <%= user%> | <a href="/change_password">Change Password</a> | <a href="/logout">Log out</a></p>
			<% } %>
			<p><%= new Date();%></p>
		</div>
		<div class="menu-bar">
			<ul>
				<li><a href="/"><button>Home</button></a></li>
				<li><a href="/profile"><button>Profil Perusahaan</button></a></li>
				<li>
					<div class="dropdown" style="display:inline-block">
						<button class="dropdown-toggle" type="button" data-toggle="dropdown">Daftar Harga Jasa <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="/service_price_list">Jasa Servis Engine</a></li>
							<li><a href="/bengkel_price_list">Jasa Bengkel</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/help"><button>Help</button></a></li>
			</ul>
		</div>
		<%- body %>
	</div>


	<script src="/javascripts/bundle.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

</body>
</html>
