
<!DOCTYPE html>
<!-- saved from url=(0044)http://getbootstrap.com/examples/dashboard/# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Penentuan Produk Terbaik</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
	<div class="content-wrapper container">	
		<div class="heading">
			<% if(typeof user === "undefined") { %>
				<a href="/signin">Sign In</a>
			<% } else {%>
				<p>Welcome, <%= user%> | <a href="/change_password">Change Password</a> | <a href="/logout">Log out</a></p>
			<% } %>
			<p><%= new Date();%></p>
		</div>
		<div class="menu-bar">
			<ul>
				<li><a href="/"><button>Home</button></a></li>
				<li><a href="/profile"><button>Profil Perusahaan</button></a></li>
				<li>
					<div class="dropdown" style="display:inline-block">
						<button class="dropdown-toggle" type="button" data-toggle="dropdown">Daftar Harga Jasa <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="/service_price_list">Jasa Servis Engine</a></li>
							<li><a href="/bengkel_price_list">Jasa Bengkel</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/help"><button>Help</button></a></li>
			</ul>
		</div>
		<div class="container-box">
			<h3>List Produk</h3>
			<div style="margin-bottom:20px;">
				<select class="bs-select" id="list_produk" onChange="pilihListProduk(this)">
					<option value="1">Oli</option>
					<option value="2">Cat</option>
					<option value="3">Aki</option>
					<option value="4">Minyak Rem</option>
					<option value="5">Kaca Film</option>
					<option value="6">Cat Vernis</option>
					<option value="7">Bohlam</option>
				</select>
			</div>
			<div class="container-box">
				<table class="table table-bordered list-content">
					
				</table>
			</div>
		</div>
		<div>&nbsp;</div>
	</div>
	<script src="/javascripts/bundle.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script>
	jQuery(window).load(function (){

		jQuery('.list-content').load('/oli_list');
	});

	function pilihListProduk(obj){
		var option = obj.value;

		if(option == 1){
			jQuery('.list-content').load('/oli_list');
		}
		else if(option == 2){
			jQuery('.list-content').load('/cat_list');
		}
		else if(option == 3){
			jQuery('.list-content').load('/aki_list');
		}
		else if(option == 4){
			jQuery('.list-content').load('/minyak_rem_list');
		}
		else if(option == 5){
			jQuery('.list-content').load('/kaca_film_list');
		}
		else if(option == 6){
			jQuery('.list-content').load('/cat_vernis_list');
		}
		else if(option == 7){
			jQuery('.list-content').load('/bohlam_list');
		}
	}
	</script>
</body>
</html>