<div class="container-box">
			<h3>Profil Perusahaan</h3>
			<div class="container-box">
				<p>Bengkel Setia Mandiri Motor yang beralamat di Jalan Danau Sunter Barat Blok A1 No.2, Jakarta Utara, adalah bengkel yang bergerak dibidang perbaikan dan pengecatan bodi kendaraan, mempunyai luas lahan lebih dari 2.500 m2 dengan daya tampung 100-200 unit kendaraan. Bengkel Setia Mandiri Motor juga memenuhi kebutuhan masyarakat pengguna kendaraan roda empat di wilayah ibu kota Jakarta dan sekitarnya, dengan menjadikan sebagai salah satu pusat layanan perawatan dan perbaikan mobil terpadu serta memberikan kualitas yang maksimal dengan SDM yang berpengalaman serta didukung dengan peralatan, bahan cat dan spray booth + oven berteknologi tinggi. Bengkel Setia Mandiri Motor berdiri pada tanggal 29 Oktober 2009. Bengkel ini merupakan specialist untuk mobil Honda, tetapi tetap menerima masukan dari mobil merk lain yang umum, seperti Toyota, Nissan, Mercedes, Daihatsu.</p>

				<p><b>Fasilitas dan Peralatan Kantor Pendukung Pekerjaan, antara lain:</b></p>
				<ul style="list-style-type: decimal;">
					<li>Ruang staff dan marketing</li>
					<li>Ruang customer service</li>
					<li>Komputer</li>
					<li>Printer</li> 
					<li>Mesin foto copy</li>
					<li>Mesin tik electric</li>
					<li>Kamera digital</li>
					<li>Mesin fax</li>
				</ul>
				<p><b>Sarana/ Peralatan Pendukung Pekerjaan, Antara Lain:</b></p>
				<ul style="list-style-type: decimal;">
					<li>Spray booth oven double blower SAIMA MECCANICA - ITALIA</li>
					<li>Six post lift STENHOJ - DENMARK</li>
					<li>Air compressor cap. 7,5 HP JAPAN</li>
					<li>Air receiver tank cap. 1.000 ltr JAPAN</li>
					<li>Air dryer machine cap. 7,5 HP INGERSOLL RAND - USA</li>
					<li>Spray gun SATA - GERMAN</li>
					<li>Hot gun GERMAN</li>
					<li>Polishing Machine GERMAN</li>
					<li>Grinding machine GERMAN</li>
					<li>Drilling machine GERMAN</li>
					<li>Work bench + bench vice JAPAN</li>
					<li>CO2 welding machine GERMAN</li>
					<li>Accetyline welding tools GERMAN</li>
					<li>Spot welding machine GERMAN</li>
					<li>Dolly tool set SNAP ON - USA</li>
					<li>Body tool set SNAP ON -USA</li>
					<li>Panel holder SNAP ON - USA</li>
					<li>Special tool set SNAP ON - USA</li>
					<li>Hand tools REPCO - AUSTRALIA</li>
					<li>Jet washer KARCHER - GERMAN</li>
					<li>Wet/dry vaccum cleaner GERMAN</li>
					<li>Multi Spot ELECTRON - GERMAN</li>
					<li>Paint mixing machine SIKKENS</li>
				</ul>

				<p><b>Tanah dan Bangunan :</b></p>
				<ul style="list-style-type: decimal;">
					<li>Luas work shop 2.000 m2</li>
					<li>Bangunan kantor 500 m2</li>
					<li>Ruang tunggu</li>
					<li>Mess karyawan</li>
					<li>Daya listrik 66.000 watt</li>
					<li>Telepon, faxsimili dan email</li>
					<li>Sarana administrasi dan komputer</li>
					<li>Petugas keamanan</li>
				</ul>

				<p><b>Kapasitas Produksi dan Daya Tampung :</b></p>
				<p>Kapasitas bengkel motor berdaya tampung 350 sampai 400 unit mobil.</p>
				<p><b>Tenaga Kerja :</b></p>
				<p>Tenaga kerja didukung oleh tenaga-tenaga terdidik dan ahli dalam bidangnya masing-masing, dengan pengalaman lebih dari 10 tahun bekerja pada bengkel resmi Autoland, Honda Sunter, dan Imora Motor. Total tenaga kerja pada bengkel Setia Mandiri Motor sebanyak 62 Karyawan.</p>







				<p><b>VISI DAN MISI</b></p>

				<p>Sebagai salah satu bengkel mobil yang menekankan segi kualitas dengan motto utama perusahaan,  Bengkel Setia Mandiri Motor berkomitmen untuk memberikan layanan dan solusi terbaik bagi pelanggan. Komitmen itu tercemin dalam visi dan misi perusahaan untuk menjadi bengkel otomotif terbaik di Jakarta.</p>

				<p><b>VISI</b></p>

				<p>Untuk menjadi bengkel mobil terbaik di Jakarta yang  mengutamakan  pada kepuasan pelanggan didukung dengan peralatan canggih dan tenaga ahli yang berkompeten dalam memberikan pelayanan jasa Bengkel  kepada  pelanggan, mitra  usaha, pegawai, pemegang saham dan masyarakat.</p>

				<p><b>MISI</b></p>

				<p>Membangun Bengkel yang sehat dan terpecaya dengan :</p>
				<ul>
					<li>Memberikan jasa bengkel yang unggul, berdasarkan nilai-nilai kejujuran,keadilan dan kehati-hatian.</li>
					<li>Memberikan layanan mobil sehat yang cepat dan berkualitas.</li>
					<li>Memberikan solusi tepat dan cepat mulai dari saat pelanggan ingin memperbaiki mobil, proses menunggu sampai dengan mobil selesai diperbaiki.</li>
					<li>Memenuhi ketentuan dan peraturan yang terkait dengan bisnis bengkel.</li>
					<li>Membangun hubungan saling menguntungkan dengan mitra bisnis.</li>
					<li>Menciptakan interaksi kerja yang saling mendukung dan lingkungan kerja yang kondusif.</li>
					<li>Menjamin kesejahteraan pegawai.</li>
					<li>Memastikan nilai premium bagi pemegang saham dengan pengelolaan modal dan jasa bengkel secara efisien dan menguntungkan.</li>
					<li>Meningkatkan hubungan komunitas melalui program tanggung jawab sosial.</li>
				</ul>
			</div>
		</div>