<div class="container-box">
	<h3>Daftar Harga Jasa Service Engine</h3>
	<div class="container-box">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No</th>
					<th>Jasa/Perbaikan</th>
					<th>Repair</th>
					<th>Ganti</th>
					<th>Repair</th>
					<th>Ganti</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Tune Up</td>
					<td>250.000</td>
					<td></td>
					<td>300.000</td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Rem</td>
					<td>200.000</td>
					<td>250.000</td>
					<td>275.000</td>
					<td>300.000</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Power Steering Minyak</td>
					<td>3.250.000</td>
					<td></td>
					<td>3.500.000</td>
					<td></td>
				</tr>
				<tr>
					<td>4</td>
					<td>Elektronik Power Steering</td>
					<td>1.500.000</td>
					<td></td>
					<td>1.850.000</td>
					<td></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Cooling System</td>
					<td>500.000</td>
					<td></td>
					<td>750.000</td>
					<td></td>
				</tr>
				<tr>
					<td>6</td>
					<td>Overhaul</td>
					<td>1.500.000</td>
					<td></td>
					<td>1.850.000</td>
					<td></td>
				</tr>
				<tr>
					<td>7</td>
					<td>Skar Klep</td>
					<td>550.000</td>
					<td></td>
					<td>750.000</td>
					<td></td>
				</tr>
				<tr>
					<td>8</td>
					<td>Crest Joint</td>
					<td></td>
					<td>75.000</td>
					<td></td>
					<td>90.000</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Instalasi Kabel</td>
					<td>500.000</td>
					<td></td>
					<td>650.000</td>
					<td></td>
				</tr>
				<tr>
					<td>10</td>
					<td>Ball Joint sepasang</td>
					<td></td>
					<td>300.000</td>
					<td></td>
					<td>350.000</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Tierod Sepasang</td>
					<td></td>
					<td>300.000</td>
					<td></td>
					<td>350.000</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Tengki</td>
					<td></td>
					<td>200.000</td>
					<td></td>
					<td>225.000</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Kopling</td>
					<td></td>
					<td>500.000</td>
					<td></td>
					<td>555.000</td>
				</tr>
				<tr>
					<td>14</td>
					<td>OH Transmisi</td>
					<td>2.500.000</td>
					<td></td>
					<td>2.750.000</td>
					<td></td>
				</tr>
				<tr>
					<td>15</td>
					<td>Shock Breaker</td>
					<td></td>
					<td>400.000/4 buah</td>
					<td></td>
					<td>500.000/4 buah</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Lampu-lampu</td>
					<td>200.000</td>
					<td>250.000</td>
					<td>225.000</td>
					<td>275.000</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Timing Belt</td>
					<td></td>
					<td>350.000</td>
					<td></td>
					<td>400.000</td>
				</tr>
				<tr>
					<td>18</td>
					<td>Water Pump</td>
					<td></td>
					<td>300.000</td>
					<td></td>
					<td>350.000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>