<!DOCTYPE html>
<!-- saved from url=(0044)http://getbootstrap.com/examples/dashboard/# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Penentuan Produk Terbaik</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/jquery-2.1.4.min.css"></script>
</head>

<body>
	<div class="content-login">
        <!-- BEGIN LOGIN FORM -->
        <% if(typeof errors !== "undefined") { %>
        <div class="container text-danger">
            <ul>
                <% for(var i=0;i<errors.length;i++){%>
                    <li><%= errors[i] %></li>
                <% } %>
            </ul>
        </div>
        <% } %>
        <form class="login-form" action="/login" method="post">
            <h3 class="form-title">Sign In</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password">
            </div>
            <div class="form-actions">
                <button type="submit">Login</button>
            </div>

            <div class="create-account">
                <a href = "/">Back to home</a>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>


    <script src="/javascripts/bundle.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

</body>
</html>