<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Tipe Aki</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.tipe_aki.length;i++){ %>
				<tr>
					<td><%=fields.tipe_aki[i]%></td>
					<td><a href='/delete_fields/aki/tipe_aki/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/aki/tipe_aki" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Tipe Aki</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Tipe Aki" name="tipe_aki" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Silinder Mesin</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.silinder_mesin.length;i++){ %>
				<tr>
					<td><%=fields.silinder_mesin[i]%></td>
					<td><a href='/delete_fields/aki/silinder_mesin/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/aki/silinder_mesin" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Silinder Mesin</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Silinder Mesin" name="silinder_mesin" required>
		</div>
		<input type="submit">
	</form><br>
</div>