<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Jenis Bohlam</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.jenis_bohlam.length;i++){ %>
				<tr>
					<td><%=fields.jenis_bohlam[i]%></td>
					<td><a href='/delete_fields/bohlam/jenis_bohlam/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/bohlam/jenis_bohlam" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Jenis Bohlam</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Jenis Bohlam" name="jenis_bohlam" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Tipe Bohlam</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.tipe_bohlam.length;i++){ %>
				<tr>
					<td><%=fields.tipe_bohlam[i]%></td>
					<td><a href='/delete_fields/bohlam/tipe_bohlam/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/bohlam/tipe_bohlam" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Tipe Bohlam</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Tipe Bohlam" name="tipe_bohlam" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Ukuran Bohlam</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.ukuran_bohlam.length;i++){ %>
				<tr>
					<td><%=fields.ukuran_bohlam[i]%></td>
					<td><a href='/delete_fields/bohlam/ukuran_bohlam/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/bohlam/ukuran_bohlam" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Ukuran Bohlam</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Ukuran Bohlam" name="ukuran_bohlam" required>
		</div>
		<input type="submit">
	</form><br>
</div>