<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Jenis Cat</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.jenis_cat.length;i++){ %>
				<tr>
					<td><%=fields.jenis_cat[i]%></td>
					<td><a href='/delete_fields/cat/jenis_cat/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/cat/jenis_cat" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Jenis Cat</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Jenis Cat" name="jenis_cat" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Warna Cat</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.warna_cat.length;i++){ %>
				<tr>
					<td><%=fields.warna_cat[i]%></td>
					<td><a href='/delete_fields/cat/warna_cat/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/cat/warna_cat" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Warna Cat</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Warna Cat" name="warna_cat" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Daya Kilap</th>
				<th>Weight</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var key in fields.daya_kilap){ %>
				<tr>
					<td><%=key%></td>
					<td><%=fields.daya_kilap[key]%></td>
					<td><a href='/delete_fields/cat/daya_kilap/<%=key%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/cat/daya_kilap" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Daya Kilap</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Daya Kilap" name="daya_kilap" required>
				<label class="control-label visible-ie8 visible-ie9">Tambah Weight</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Weight" name="weight" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Daya Tahan Cat</th>
				<th>Weight</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var key in fields.daya_tahan_cat){ %>
				<tr>
					<td><%=key%></td>
					<td><%=fields.daya_tahan_cat[key]%></td>
					<td><a href='/delete_fields/cat/daya_tahan_cat/<%=key%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/cat/daya_tahan_cat" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Daya Tahan Cat</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Daya Tahan Cat" name="daya_tahan_cat" required>
				<label class="control-label visible-ie8 visible-ie9">Tambah Weight</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Weight" name="weight" required>
		</div>
		<input type="submit">
	</form><br>
</div>