<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Daya Tahan & Kilap</th>
				<th>Weight</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var key in fields.daya_tahan_kilap){ %>
				<tr>
					<td><%=key%></td>
					<td><%=fields.daya_tahan_kilap[key]%></td>
					<td><a href='/delete_fields/cat_vernis/daya_tahan_kilap/<%=key%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/cat_vernis/daya_tahan_kilap" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Daya Tahan & Kilap</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Daya Tahan & Kilap" name="daya_tahan_kilap" required>
				<label class="control-label visible-ie8 visible-ie9">Tambah Weight</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Weight" name="weight" required>
		</div>
		<input type="submit">
	</form><br>
</div>