<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Basis Warna Cairan</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.basis_warna.length;i++){ %>
				<tr>
					<td><%=fields.basis_warna[i]%></td>
					<td><a href='/delete_fields/kaca_film/basis_warna/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/kaca_film/basis_warna" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Basis Warna</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Basis Warna Cairan" name="basis_warna" required>
		</div>
		<input type="submit">
	</form><br>
</div>