<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Warna Cairan</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.warna.length;i++){ %>
				<tr>
					<td><%=fields.warna[i]%></td>
					<td><a href='/delete_fields/minyak_rem/warna/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/minyak_rem/warna" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Warna</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Warna Cairan" name="warna" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>DOT</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.DOT.length;i++){ %>
				<tr>
					<td><%=fields.DOT[i]%></td>
					<td><a href='/delete_fields/minyak_rem/warna/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/minyak_rem/DOT" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah DOT</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="DOT" name="DOT" required>
		</div>
		<input type="submit">
	</form><br>
</div>