<div class="container-box">
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Jenis Bahan Bakar</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<fields.bahan_bakar.length;i++){ %>
				<tr>
					<td><%=fields.bahan_bakar[i]%></td>
					<td><a href='/delete_fields/oli/bahan_bakar/<%=i%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/oli/bahan_bakar" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Jenis Bahan Bakar</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Jenis Bahan Bakar" name="bahan_bakar" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>API</th>
				<th>Dari</th>
				<th>Sampai</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var key in fields.api){ %>
				<tr>
					<td><%=key%></td>
					<td><%=fields.api[key][0]%></td>
					<% if (fields.api[key][1] == Number.MAX_VALUE) {%>
					<td>MAX</td>
					<% }else{ %>
					<td><%=fields.api[key][1]%></td>
					<% } %>
					<td><a href='/delete_fields/oli/api/<%=key%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/oli/api" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah API</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="API" name="api" required>
				<label class="control-label visible-ie8 visible-ie9">Tambah Dari</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Dari" name="dari">
				<label class="control-label visible-ie8 visible-ie9">Tambah Sampai</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Sampai" name="sampai">
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Viskositas</th>
				<th>Weight</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var key in fields.viskositas){ %>
				<tr>
					<td><%=key%></td>
					<td><%=fields.viskositas[key]%></td>
					<td><a href='/delete_fields/oli/viskositas/<%=key%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/oli/viskositas" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Viskositas</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Viskositas" name="viskositas" required>
				<label class="control-label visible-ie8 visible-ie9">Tambah Weight</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Weight" name="weight" required>
		</div>
		<input type="submit">
	</form><br>
	<table class="table table-bordered list-content">
		<thead>
			<tr>
				<th>Ketahanan</th>
				<th>Weight</th>
				<th>Opsi</th>
			</tr>
		</thead>
		<tbody>
			<% for(var key in fields.ketahanan){ %>
				<tr>
					<td><%=key%></td>
					<td><%=fields.ketahanan[key]%></td>
					<td><a href='/delete_fields/oli/ketahanan/<%=key%>'><button>Delete</button></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<form action="/add_fields/oli/ketahanan" method="post">
		<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Tambah Ketahanan</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Ketahanan" name="ketahanan" required>
				<label class="control-label visible-ie8 visible-ie9">Tambah Weight</label>
				<input class="form-control form-control-solid placeholder-no-fix" placeholder="Weight" name="weight" required>
		</div>
		<input type="submit">
	</form><br>
</div>