<thead>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Produk</th>
		<th>Tipe Aki</th>
		<th>Silinder Mesin</th>
		<th>Harga</th>
		<th>Kapasitas</th>
		<th>Tegangan</th>
		<th>CCA</th>
		<th>Gambar</th>
		<% if(typeof preference !== "undefined") { %>
		<th>Nilai Preferensi</th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<th colspan="2">Opsi</th>
		<% }%>
	</tr>
</thead>
<tbody>
	<% for(var i=0;i<data.total_rows;i++){ %>
	<tr>
		<td><%= data.rows[i].doc.kode_produk %></td>
		<td><%= data.rows[i].doc.nama_produk %></td>
		<td><%= data.rows[i].doc.tipe_aki %></td>
		<td><%= data.rows[i].doc.silinder_mesin %></td>
		<td><%= data.rows[i].doc.harga %></td>
		<td><%= data.rows[i].doc.kapasitas%></td>
		<td><%= data.rows[i].doc.tegangan %></td>
		<td><%= data.rows[i].doc.cca %></td>
		<td><img src='<%= data.rows[i].doc.photo %>' style='width:100px'></td>
		<% if(typeof preference !== "undefined") { %>
		<th><%= data.rows[i].doc.total %></th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<td><a href='edit_item/aki/<%=data.rows[i].id%>'><button>Edit</button></a></td>
			<td><a href='delete_item/aki/<%=data.rows[i].id%>'><button>Delete</button></a></td>
		<% }%>
	</tr>
	<% } %>
</tbody>