<thead>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Produk</th>
		<th>Jenis Bohlam</th>
		<th>Ukuran Lampu</th>
		<th>Warna Cahaya</th>
		<th>Tipe Bohlam</th>
		<th>Harga</th>
		<th>Pancaran</th>
		<th>Voltase</th>
		<th>Daya</th>
		<th>Daya Lampu Dekat</th>
		<th>Daya Lampu Jauh</th>
		<th>Gambar</th>
		<% if(typeof preference !== "undefined") { %>
		<th>Nilai Preferensi</th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<th colspan="2">Opsi</th>
		<% }%>
	</tr>
</thead>
<tbody>
	<% for(var i=0;i<data.total_rows;i++){ %>
	<tr>
		<td><%= data.rows[i].doc.kode_produk %></td>
		<td><%= data.rows[i].doc.nama_produk %></td>
		<td><%= data.rows[i].doc.jenis_bohlam %></td>
		<td><%= data.rows[i].doc.ukuran_bohlam %></td>
		<td><%= data.rows[i].doc.warna_cahaya %></td>
		<td><%= data.rows[i].doc.tipe_bohlam %></td>
		<td><%= data.rows[i].doc.harga %></td>
		<td><%= data.rows[i].doc.pancaran_cahaya %></td>
		<td><%= data.rows[i].doc.voltase %></td>
		<td><%= data.rows[i].doc.daya_power %></td>
		<td><%= data.rows[i].doc.daya_power_jauh %></td>
		<td><%= data.rows[i].doc.daya_power_dekat %></td>
		<td><img src='<%= data.rows[i].doc.photo %>' style='width:100px'></td>
		<% if(typeof preference !== "undefined") { %>
		<th><%= data.rows[i].doc.total %></th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<td><a href='edit_item/bohlam/<%=data.rows[i].id%>'><button>Edit</button></a></td>
			<td><a href='delete_item/bohlam/<%=data.rows[i].id%>'><button>Delete</button></a></td>
		<% }%>
	</tr>
	<% } %>
</tbody>