<thead>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Produk</th>
		<th>Asal Produk</th>
		<th>Harga</th>
		<th>Daya Tahan & Kilap</th>
		<th>Daya Pengeringan</th>
		<th>Gambar</th>
		<% if(typeof preference !== "undefined") { %>
		<th>Nilai Preferensi</th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<th colspan="2">Opsi</th>
		<% }%>
	</tr>
</thead>
<tbody>
	<% for(var i=0;i<data.total_rows;i++){ %>
	<tr>
		<td><%= data.rows[i].doc.kode_produk %></td>
		<td><%= data.rows[i].doc.nama_produk %></td>
		<td><%= data.rows[i].doc.asal_produk %></td>
		<td><%= data.rows[i].doc.harga %></td>
		<td><%= data.rows[i].doc.daya_tahan_kilap %></td>
		<td><%= data.rows[i].doc.daya_pengeringan %></td>
		<td><img src='<%= data.rows[i].doc.photo %>' style='width:100px'></td>
		<% if(typeof preference !== "undefined") { %>
		<th><%= data.rows[i].doc.total %></th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<td><a href='edit_item/cat_vernis/<%=data.rows[i].id%>'><button>Edit</button></a></td>
			<td><a href='delete_item/cat_vernis/<%=data.rows[i].id%>'><button>Delete</button></a></td>
		<% }%>
	</tr>
	<% } %>
</tbody>