<thead>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Produk</th>
		<th>Kegelapan</th>
		<th>Tipe</th>
		<th>Basis Warna</th>
		<th>Harga</th>
		<th>VLT</th>
		<th>UVR</th>
		<th>IRR</th>
		<th>TSER</th>
		<th>Gambar</th>
		<% if(typeof preference !== "undefined") { %>
		<th>Nilai Preferensi</th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<th colspan="2">Opsi</th>
		<% }%>
	</tr>
</thead>
<tbody>
	<% for(var i=0;i<data.total_rows;i++){ %>
	<tr>
		<td><%= data.rows[i].doc.kode_produk %></td>
		<td><%= data.rows[i].doc.nama_produk %></td>
		<td><%= data.rows[i].doc.kegelapan%></td>
		<td><%= data.rows[i].doc.tipe%></td>
		<td><%= data.rows[i].doc.basis_warna %></td>
		<td><%= data.rows[i].doc.harga %></td>
		<td><%= data.rows[i].doc.VLT %></td>
		<td><%= data.rows[i].doc.UVR %></td>
		<td><%= data.rows[i].doc.IRR %></td>
		<td><%= data.rows[i].doc.TSER %></td>
		<td><img src='<%= data.rows[i].doc.photo %>' style='width:100px'></td>
		<% if(typeof preference !== "undefined") { %>
		<th><%= data.rows[i].doc.total %></th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<td><a href='edit_item/kaca_film/<%=data.rows[i].id%>'><button>Edit</button></a></td>
			<td><a href='delete_item/kaca_film/<%=data.rows[i].id%>'><button>Delete</button></a></td>
		<% }%>
	</tr>
	<% } %>
</tbody>