<thead>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Produk</th>
		<th>DOT</th>
		<th>Warna Cairan</th>
		<th>Harga</th>
		<th>Boiling Point</th>
		<th>Wet Boiling Point</th>
		<th>Gambar</th>
		<% if(typeof preference !== "undefined") { %>
		<th>Nilai Preferensi</th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<th colspan="2">Opsi</th>
		<% }%>
	</tr>
</thead>
<tbody>
	<% for(var i=0;i<data.total_rows;i++){ %>
	<tr>
		<td><%= data.rows[i].doc.kode_produk %></td>
		<td><%= data.rows[i].doc.nama_produk %></td>
		<td><%= data.rows[i].doc.DOT%></td>
		<td><%= data.rows[i].doc.warna %></td>
		<td><%= data.rows[i].doc.harga %></td>
		<td><%= data.rows[i].doc.boiling_point %></td>
		<td><%= data.rows[i].doc.wet_boiling_point %></td>
		<td><img src='<%= data.rows[i].doc.photo %>' style='width:100px'></td>
		<% if(typeof preference !== "undefined") { %>
		<th><%= data.rows[i].doc.total %></th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<td><a href='edit_item/minyak_rem/<%=data.rows[i].id%>'><button>Edit</button></a></td>
			<td><a href='delete_item/minyak_rem/<%=data.rows[i].id%>'><button>Delete</button></a></td>
		<% }%>
	</tr>
	<% } %>
</tbody>