<thead>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Produk</th>
		<th>Jenis Bahan Bakar</th>
		<th>API</th>
		<th>Harga</th>
		<th>Viskositas</th>
		<th>Ketahanan</th>
		<th>Gambar</th>
		<% if(typeof preference !== "undefined") { %>
		<th>Nilai Preferensi</th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<th colspan="2">Opsi</th>
		<% }%>
	</tr>
</thead>
<tbody>
	<% for(var i=0;i<data.total_rows;i++){ %>
	<tr>
		<td><%= data.rows[i].doc.kode_produk %></td>
		<td><%= data.rows[i].doc.nama_produk %></td>
		<td><%= data.rows[i].doc.bahan_bakar %></td>
		<% if(data.rows[i].doc.api[1] === '') {%>
			<td><%= data.rows[i].doc.api[0] %></td>
		<% } else {%>
			<td><%= data.rows[i].doc.api %></td>
		<% } %>
		<td><%= data.rows[i].doc.harga %></td>
		<td><%= data.rows[i].doc.viskositas %></td>
		<td><%= data.rows[i].doc.ketahanan %></td>
		<td><img src='<%= data.rows[i].doc.photo %>' style='width:100px'></td>
		<% if(typeof preference !== "undefined") { %>
		<th><%= data.rows[i].doc.total %></th>
		<% } %>
		<% if(typeof user !== "undefined") { %>
			<td><a href='edit_item/oli/<%=data.rows[i].id%>'><button>Edit</button></a></td>
			<td><a href='delete_item/oli/<%=data.rows[i].id%>'><button>Delete</button></a></td>
		<% }%>
	</tr>
	<% } %>
</tbody>