
#cal {
	font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
	display:table;
	box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
}

#cal .header {
	cursor:default;
	background: #005c95;
	background: -moz-linear-gradient(top, #b32b0c, #cd310d);
	height:34px;
	position:relative;
	color:#fff;
	
	font-weight:bold;
	text-shadow:0px -1px 0 #87260c;
	text-transform: uppercase;
}
#cal .header span {
	display:inline-block;
	line-height:34px;
}

#cal .header .hook {
	width:9px;
	height: 28px;
	position:absolute;
	bottom:60%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#ececec;
	background: -moz-linear-gradient(right top, #fff, #827e7d);
	background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#827e7d));
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
}
.right.hook {
	right:15%;
}
.left.hook {
	left:15%;
}

#cal .header .button {
	width:24px;
	text-align:center;
	position:absolute;
}
#cal .header .button:hover {
	background: #686868;
}
#cal .header .right.button {
	right:10px;
	top:0; 
	
	border-top-right-radius: 5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius: 5px;
}
#cal .header .left.button {
	left:10px;
	
	border-top-left-radius: 5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius: 5px;
}


#cal .header .month-year {
	letter-spacing:1px;
	width:100%;
	text-align:center;
}

#cal table {
	background:#fff;
	border-collapse: collapse;
}
#cal td {
	color:#2d2d2d;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #e6e6e6;
	cursor:default;
}

#cal #day td {
	height:26px;
	line-height:26px;
	text-transform:uppercase;
	font-size:90%;
	color:#9e9e9e;
}
#cal #days td:not(:last-child) {
	border-right:1px solid #fff;
}

#cal #cal-frame td.today {
	background:#686868;
	color:white;
	
	-moz-box-shadow:1px 1px 0px #fff inset;
	-webkit-box-shadow:1px 1px 0px #fff inset;
}

#cal #cal-frame td:not(.nil):hover {
	color:#fff;
	text-shadow:#6c1a07 0px -1px;
	background:#cd310d;
	background: #686868;
	box-shadow:0px 0px 0px;
	-moz-box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 0px 0px;
}
#cal #cal-frame td span {
	font-size:80%;
	position:relative;
}
#cal #cal-frame td span:first-child {
	bottom:5px;
}

#cal #cal-frame td span:last-child {
	top:5px;
}

#cal #cal-frame table.temp {
	position:absolute;
} 

#cal #cal-frame table.curr {
	float:right;
}
