body{

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.menu-bar{
  background-color: purple;
}
.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-bar > ul li{
  display: inline;
}
button{
  padding: 5px 30px;
}

.line-separator{
  border-bottom: 1px solid #fff;
  clear: both;
  border-bottom:3px solid #b6b6b6;
  margin : 0px 15px 0px 15px;
}

.menu-icon-wrapper{
 width: 200px;
 height: 200px;
 border: 1px solid #b6b6b6;
 margin: auto;
 margin-top: 50px;
}
img{
  width: 100%;
  height: auto;
}

.menu-name{
  display: block;
  text-align: center;

}

.content-wrapper{
  border: 3px solid #b6b6b6;
  margin-top: 20px;
  margin-bottom: 50px;
  padding : 0;
}

.table.content>tbody>tr>td, .table.content>tbody>tr>th, .table.content>tfoot>tr>td, .table.content>tfoot>tr>th, .table.content>thead>tr>td, .table.content>thead>tr>th{
  border: none;
}

input[type=text], textarea{
  width: 100%;
}

a, a:hover, a:focus{
  color:#333;
}

.icon-input{
  margin-left: 0px;
}

ul.product-list>li{
  margin-bottom: 15px;
}

.container-box{
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

input.best-product{
  width:50px;
}

.content-login {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 150px auto 0 auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    border: 3px solid #b6b6b6;
}

.content-login .login-form, .content-login .forget-form {
    padding: 0px;
    margin: 0px;
}

.content-login h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.content-login .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.content-login .form-actions {
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}