<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Jenis Bahan Bakar :</td>
		<td>
			<select class="bs-select" name="bahan_bakar" value='<%= doc.bahan_bakar%>'>
				<% for(var i=0;i<fields.bahan_bakar.length;i++){ %>
					<option value="<%=fields.bahan_bakar[i]%>" <%if(doc.bahan_bakar == fields.bahan_bakar[i]) {%> selected <% } %>><%=fields.bahan_bakar[i]%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">API :</td>
		<td>
			<select class="bs-select" name="api[]">
				<% for(key in fields.api){ %>
					<option value="<%=key%>" <%if(doc.api[0] == key) {%> selected <% } %>><%=key%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">API 2 (Optional):</td>
		<td>
			<select class="bs-select" name="api[]">
				<option></option>
				<% for(key in fields.api){ %>
					<option value="<%=key%>" <%if(doc.api[1] == key) {%> selected <% } %>><%=key%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /liter" value="<%= doc.harga%>"></td>
	</tr>
	<tr>
		<td style="width:30%;">Viskositas</td>
		<td>
			<select class="bs-select" name="viskositas" value="<%= doc.viskositas%>">
				<% for(var key in fields.viskositas){ %>
					<option value="<%=key%>" <%if(doc.viskositas == key) {%> selected <% } %>><%=key%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Ketahanan</td>
		<td>
			<select class="bs-select" name="ketahanan" value="<%= doc.ketahanan%>">
				<% for(var key in fields.ketahanan){ %>
					<option value="<%=key%>" <%if(doc.ketahanan == key) {%> selected <% } %>><%=key%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>