<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Jenis Bohlam :</td>
		<td>
			<select class="bs-select" id="jenis-bohlam-option" name="jenis_bohlam" onChange="extraByJenisBohlam(this)">
				<% for(var i=0;i<fields.jenis_bohlam.length;i++){ %>
					<option value="<%=fields.jenis_bohlam[i]%>" <%if(doc.jenis_bohlam == fields.jenis_bohlam[i]) {%> selected <% } %>><%=fields.jenis_bohlam[i]%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr id="ukuran-bohlam"><!-- hanya lampu depan -->
		<td style="width:30%;">Ukuran Bohlam :</td>
		<td>
			<select class="bs-select" id="ukuran-bohlam-option" name="ukuran_bohlam" onChange="extraByUkuranBohlam(this)">
				<% for(var i=0;i<fields.ukuran_bohlam.length;i++){ %>
					<option value="<%=fields.ukuran_bohlam[i]%>" <%if(doc.ukuran_bohlam == fields.ukuran_bohlam[i]) {%> selected <% } %>><%=fields.ukuran_bohlam[i]%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Warna Cahaya :</td>
		<td><input type="text" name="warna_cahaya" value='<%= doc.warna_cahaya%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Tipe Bohlam :</td>
		<td>
			<select class="bs-select" name="tipe_bohlam">
				<% for(var i=0;i<fields.tipe_bohlam.length;i++){ %>
					<option value="<%=fields.tipe_bohlam[i]%>" <%if(doc.tipe_bohlam == fields.tipe_bohlam[i]) {%> selected <% } %>><%=fields.tipe_bohlam[i]%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /pcs" value='<%= doc.harga%>'></td>
	</tr>
	<tr id="pancaran-cahaya"><!-- hanya lampu depan -->
		<td style="width:30%;">Pancaran Cahaya :</td>
		<td><input type="text" name="pancaran_cahaya" id="pancaran_cahaya" placeholder=" k" value='<%= doc.pancaran_cahaya%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Voltase :</td>
		<td><input type="text" name="voltase" placeholder=" V" value='<%= doc.voltase%>'></td>
	</tr>
	<tr id="daya-power"><!-- hanya untuk selain lampu depan H4-->
		<td style="width:30%;">Daya/Power :</td>
		<td><input type="text" name="daya_power" id="daya_power" placeholder=" W" value='<%= doc.daya_power%>'></td>
	</tr>
	<tr id="daya-power-dekat" style="display:none"><!-- hanya lampu depan H4 -->
		<td style="width:30%;">Daya/Power Lampu Dekat :</td>
		<td><input type="text" name="daya_power_dekat" id="daya_power_dekat" placeholder=" W" value='<%= doc.daya_power_dekat%>'></td>
	</tr>
	<tr id="daya-power-jauh" style="display:none"><!-- hanya lampu depan H4-->
		<td style="width:30%;">Daya/Power Lampu Jauh :</td>
		<td><input type="text" name="daya_power_jauh" id="daya_power_jauh" placeholder=" W" value='<%= doc.daya_power_jauh%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>