<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Asal Produk :</td>
		<td><input type="text" name="asal_produk" value='<%= doc.asal_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Jenis Cat :</td>
		<td>
			<select class="bs-select" name="jenis_cat">
				<% for(var i=0;i<fields.jenis_cat.length;i++){ %>
					<option value="<%=fields.jenis_cat[i]%>" <%if(doc.jenis_cat == fields.jenis_cat[i]) {%> selected <% } %>><%=fields.jenis_cat[i]%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Warna cat :</td>
		<td>
			<% for(var i=0;i<fields.warna_cat.length;i++){ %>
				<input type="checkbox" name="warna_cat[]" value="<%=fields.warna_cat[i]%>" <%if(doc.warna_cat.indexOf(fields.warna_cat[i]) != -1) {%> checked <% } %>> <%= fields.warna_cat[i]%>&nbsp;
			<% } %>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /liter" value='<%= doc.harga%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Daya Kilap :</td>
		<td>
			<select class="bs-select" name="daya_kilap">
				<% for(var key in fields.daya_kilap){ %>
					<option value="<%=key%>" <%if(doc.daya_kilap == key) {%> selected <% } %>><%=key%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Daya Tahan Cat :</td>
		<td>
			<select class="bs-select" name="daya_tahan_cat">
				<% for(var key in fields.daya_tahan_cat){ %>
					<option value="<%=key%>" <%if(doc.daya_tahan_cat == key) {%> selected <% } %>><%=key%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Daya Kering :</td>
		<td><input type="text" name="daya_kering" placeholder=" menit" value='<%= doc.daya_kering%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Daya Sebar :</td>
		<td><input type="text" name="daya_sebar" placeholder=" /m^2/lapisan/liter" value='<%= doc.daya_sebar%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>