<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Warna Cairan :</td>
		<td>
			<% for(var i=0;i<fields.warna.length;i++){ %>
				<input type="checkbox" name="warna[]" value="<%=fields.warna[i]%>" <%if(doc.warna.indexOf(fields.warna[i]) != -1) {%> checked <% } %>> <%=fields.warna[i]%><br>
			<% } %>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /L" value='<%= doc.harga%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Department of Transportation :</td>
		<td>
			<select class="bs-select" name="DOT">
				<% for(var i=0;i<fields.DOT.length;i++){ %>
					<option value="<%=fields.DOT[i]%>" <%if(doc.DOT == fields.DOT[i]) {%> selected <% } %>><%=fields.DOT[i]%></option>
				<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Boiling Point :</td>
		<td><input type="text" name="boiling_point" placeholder=" Celcius" value='<%= doc.boiling_point%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Wet Boiling Point :</td>
		<td><input type="text" name="wet_boiling_point" placeholder=" Celcius" value='<%= doc.wet_boiling_point%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>