<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Kegelapan :</td>
		<td><input type="text" name="kegelapan" placeholder=" %" value='<%= doc.kegelapan%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Tipe :</td>
		<td><input type="text" name="tipe" value='<%= doc.tipe%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Basis Warna :</td>
		<td>
			<% for(var i=0;i<fields.basis_warna.length;i++){ %>
			<input type="checkbox" name="basis_warna[]" value="<%=fields.basis_warna[i]%>" <%if(doc.basis_warna.indexOf(fields.basis_warna[i]) != -1) {%> checked <% } %>> <%=fields.basis_warna[i]%><br>
			<% } %>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /m^2" value='<%= doc.harga%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">VLT :</td>
		<td><input type="text" name="VLT" placeholder=" %" value='<%= doc.VLT%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">UVR :</td>
		<td><input type="text" name="UVR" placeholder=" %" value='<%= doc.UVR%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">IRR :</td>
		<td><input type="text" name="IRR" placeholder=" %" value='<%= doc.IRR%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">TSER :</td>
		<td><input type="text" name="TSER" placeholder=" %" value='<%= doc.TSER%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>