<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Produk Asal :</td>
		<td><input type="text" name="asal_produk" value='<%= doc.asal_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /L" value='<%= doc.harga%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Daya Tahan & Kilap :</td>
		<td>
			<select class="bs-select" name="daya_tahan_kilap">
			<% for(key in fields.daya_tahan_kilap){ %>
				<option value="<%=key%>" <%if(doc.daya_tahan_kilap == key) {%> selected <% } %>><%=key%></option>
			<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Daya Pengeringan :</td>
		<td><input type="text" name="daya_pengeringan" placeholder=" menit" value='<%= doc.daya_pengeringan%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>