<tbody>
	<% if(typeof edit === "undefined") { %>
	<tr>
		<td style="width:30%;">Jenis Produk :</td>
		<td>
			<select class="bs-select" id="jenis_produk" name="jenis_produk" onChange="pilihJenisProduk(this)">
				<option value="1">Oli</option>
				<option value="2">Cat</option>
				<option value="3">Aki</option>
				<option value="4">Minyak Rem</option>
				<option value="5">Kaca Film</option>
				<option value="6">Cat Vernis</option>
				<option value="7">Bohlam</option>
			</select>
		</td>
	</tr>
	<% } %>
	<tr>
		<td style="width:30%;">Kode Produk :</td>
		<td><input type="text" name="kode_produk" value='<%= doc.kode_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Nama Produk :</td>
		<td><input type="text" name="nama_produk" value='<%= doc.nama_produk%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Tipe Aki :</td>
		<td>
			<select class="bs-select" name="tipe_aki">
			<% for(var i=0;i<fields.tipe_aki.length;i++){ %>
				<option value="<%=fields.tipe_aki[i]%>" <%if(doc.tipe_aki == fields.tipe_aki[i]) {%> selected <% } %>><%= fields.tipe_aki[i]%></option>
			<% } %>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Silinder Mesin(cc) :</td>
		<td>
			<% for(var i=0;i<fields.silinder_mesin.length;i++){ %>
				<input type="checkbox" name="silinder_mesin[]" value="<%=fields.silinder_mesin[i]%>" <%if(doc.silinder_mesin.indexOf(fields.silinder_mesin[i]) != -1) {%> checked <% } %>> <%= fields.silinder_mesin[i]%><br>
			<% } %>
		</td>
	</tr>
	<tr>
		<td style="width:30%;">Harga :</td>
		<td><input type="text" name="harga" placeholder=" /pcs" value='<%= doc.harga%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Kapasitas :</td>
		<td><input type="text" name="kapasitas" placeholder=" Ah" value='<%= doc.kapasitas%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Tegangan :</td>
		<td><input type="text" name="tegangan" placeholder=" v" value='<%= doc.tegangan%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">CCA :</td>
		<td><input type="text" name="cca" placeholder=" A" value='<%= doc.cca%>'></td>
	</tr>
	<tr>
		<td style="width:30%;">Foto</td>
		<td>
			<input type="file" name="photo" />
		</td>
	</tr>
</tbody>